<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/blogs/new"><i style="color: orange;">Rushii..</i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/blogs">All Blogs</a>
        <a class="nav-link active" href="/blogs/new">Add New Blog</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
      <%   if(!currentUser){ %>
        <div class="d-flex" >
          <a href="/singup" class="btn btn-primary ">Singup</a>
        </div>
        <div class="d-flex">
          <a href="/login" class="btn btn-primary">Login</a>
        </div>
        <% } %>
       <%   if(currentUser){ %>
        <div class="d-flex">
          <a href="/logout" class="btn btn-primary">Log Out</a>
        </div>
        <% } %>
      
    </div>
  </div>
</nav>
